<!-- views/dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>
<body>
    <h1>Welcome to your Dashboard!</h1>
    <!-- You can display user data or role-specific content here -->
    <a href="/student-login">Log out</a>
</body>
</html>
