<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v teach</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="css/landing.css">
</head>
<body>
    <div class="container">
        
        <%- include('partials/nav') %>


        <div id="hero">
            <div class="textarea">
                <h1>unlocking minds, unlocking potentials</h1>
                <p>We offer the best learning modes, tools and materials to help boost your academic and career pursuit and drive you to success. </p>
                <a href="sign-up.html"><button class="sign_in">sign up</button></a>

            </div>
            <div class="hero_img">
                <img src="images/happy-smiling-afro-girl_102671-6463-removebg-preview.png" alt="">
            </div>
        </div>
        <div id="our_goals">
            <h2 class="h2">our goals</h2>
            <div class="our_cards">
                <div class="our_card">
                    <img src="images/transparent-online-learning-icon-elearning-icon-education-icon-5f52ab935fd782.0942644715992533953926.png" alt="" class="our_icons">
                    <h3>Virtual Learning</h3>
                    <p>Learn at your own comfort, remotely from any part of the world, at your convinience, using any device such as computer, smartphone or tablets.</p>
                </div>
                <div class="our_card">
                    <img src="images/productivity-icon.png" alt="" class="our_icons">
                    <h3>Boost Productivity</h3>
                    <p>Achieve more in less time with our strategies and techniques to improve and maximize efficiency and overall performance.</p>
                </div>
                <div class="our_card">
                    <img src="images/knowledge-icon.png" alt="" class="our_icons">
                    <h3>Conquer Learning Problems</h3>
                    <p>Overcome learning challenges and achieve career success through our customized learning plans and goals, support from experienced educators.</p>
                </div>
                <div class="our_card">
                    <img src="images/knowledge-icon.png" alt="" class="our_icons">
                    <h3>Expand Knowledge</h3>
                    <p>Surpass the limititations of your surroundings with our all accessible and affordable courses from world wide educators.</p>
                </div>
            </div>
        </div>
        <div id="about">
            <div class="about_card">
                <img src="images/medium-shot-friends-looking-laptop.jpg" alt="" class="aboutjp">
                <div class="about_info">
                    <h2 class="h2">about us</h2>
                    <h3>At Vteach, we believe in providing a virtual environment for learning literally anything to everything. We know for a fact that learning should not be based on specific courses and subjects. Hence Vteach was created, A platform with no learning limitation. With Vteach, students don't have to worry about high and excessive price of courses as we've restructured our courses to a fixed amount with a high level of quality and comprehensive content.
                        Our courses at Vteach are grouped into 3 sections, Offline Courses, Live Classes and Online Courses...  
                    </h3>
                        <button class="read_more">read more</button>
                </div>
            </div>
        </div>
        <div id="our_courses">
            <h2 class="h2">How to navigate Vteach</h2>
            <h4>Watch these explainer videos to understand vteach navigation. <br> Each video covers and explain several sections of Vteach in less than 15 minutes.</h4>
            <div class="course_cards">
                <div class="course_card">
                    <div class="vid1">
                        <video  controls src="images/How_to_Intro_your_Online_Course(720p).mp4" class="vid"></video>
                    </div>
                    <div class="vid2">
                        <video controls src="images/How_to_Intro_your_Online_Course(720p).mp4" class="vid"></video>
                    </div>
                    <p></p>
                </div>
                <div class="course_card">
                    <div class="vid1">
                        <video  controls src ="images/How_to_Intro_your_Online_Course(720p).mp4" class="vid"></video>
                    </div>
                    <div class="vid2">
                        <video  controls src="images/How_to_Intro_your_Online_Course(720p).mp4" class="vid"></video>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
        <div id="testimonials">
            <h2 class="h2">testimonials</h2>
            <div class="our_cards">
                <div class="testimonial_card">
                    <img src="images/images (1).jpeg" alt="" class="tes_icons">
                    <h3>Vteach is a very good platform where i've learnt graphics designing from scratch and they have very intelligent teachers that took their time to make me understand it well. And their fee is very budget friendly. I'd recommend it for everyone.<br></h3>
                    <p>Ellen Sunday</p>
                </div>
                <div class="testimonial_card">
                    <img src="images/images.jpeg" alt="" class="tes_icons">
                    <h3>I've been using vteach for a while now, and what i can say is that their service is top notch. And the pricing is very very pocket friendly. <br>I love this platform and i would urge you all wanting to learn a thing or two courses online to try vteach out. </h3>
                    <p>jeff gospelson</p>
                </div>
                <div class="testimonial_card">
                    <img src="images/download.jpeg" alt="" class="tes_icons">
                    <h3>Vteach has been a breath of fresh air for me since i started learning online. Their packeges is on point, especially the offline class and the live classes. The pricing also is a thing to talk about. Cheap with expensive quality. I love it.</h3>
                    <p>alex Johnson</p>
                </div>
            </div>
            <h5>view more testimonials ></h5>
        </div>
       
        <div id="become_tutor">
            <div class="text_area">
                <h2 class="h2">become a tutor</h2>
                <p>Vteach offers patnership with teachers as a means of reducing unemployment rate globally.
                    <br>Vteach for teachers is an opportunity for you to give out knowledge and get paid in the process.
                    <br>From the comfort of your home.
                    <br>Come on board!!!
                     <br> Click on the link below to register as a teacher.
                </p>
                <a href="sign-up.html"><button class="sign_up">register</button></a>
               

            </div>
            <div class="side_img">
                <div class="circle flicker"></div>
                <img src="images/images-removebg.png" alt="">
            </div>
        </div>
          

        
        <%- include('partials/footer') %>


    </div>



    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>